<main>
  <section id="section-banner">

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="banner1">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/banner2.PNG" class="d-block w-100" alt="banner2">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/banner3.PNG" class="d-block w-100" alt="banner3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </section>

  <h2>Liquida Tech</h2>

  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/img 1.png" alt="kite gamer">
        <mat-card-header>
          <mat-card-title>Periféricos</mat-card-title>
          
        </mat-card-header>
        
        <mat-card-content>
          <p>
            kit gamer, mouse, teclado e fone
          </p>
        </mat-card-content>
        <mat-card-actions>
          <P>R$ 180,90</P>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/img 2.png" alt="kite PC Gamer">
        <mat-card-header>
          <mat-card-title>Computador Gamer</mat-card-title>
          
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Computador Gamer, ideal para você jogar jogos super pesados.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <P>R$ 4.900,00</P>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/img 3.png" alt="promoção">
        <mat-card-header>
          <mat-card-title>Jogo BattleField 3</mat-card-title>
          
        </mat-card-header>
        
        <mat-card-content>
          <p>
           Esse super jogo para você com um preço especial.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <P>R$ 50,90</P>
          <button mat-button>COMPRAR</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  

</main>